{% extends "layout.html" %}
    {% load static %}
{% block content %}
<!-- Services Section -->
<div class="service-section">
    <div class="container">
        <h2 class="text-center mb-2">خدماتنا</h2>
        <div class="row my-3">
            <!-- Service 1 --> 
            <div class="col-md-4 mt-3">
                <div class="card service-card text-center p-4 h-100 mt-3">
                    <i class="bi bi-file-earmark-text service-icon"></i> <!-- Use Bootstrap Icons -->
                    <h5 class="card-title">تحليل العقود باستخدام الذكاء الاصطناعي</h5>
                    <p class="card-text text-black-50">
                        نستخدم تقنيات الذكاء الاصطناعي لتحليل العقود القانونية بدقة وسرعة، مع تقديم توصيات واضحة ومفصلة.
                    </p>
                </div>
            </div>
            <!-- Service 2 -->
            <div class="col-md-4 mt-3">
                <div class="card service-card text-center p-4 h-100  mt-3">
                    <i class="bi bi-shield-check service-icon"></i> <!-- Use Bootstrap Icons -->
                    <h5 class="card-title">الاستشارات القانونية الآلية</h5>
                    <p class="card-text text-black-50">
                        نقدم استشارات قانونية آلية عبر منصتنا، حيث يمكنك الحصول على إجابات دقيقة وسريعة لأي استفسار قانوني.
                    </p>
                </div>
            </div>
            <!-- Service 3 -->
            <div class="col-md-4 mt-3">
                <div class="card service-card text-center p-4 h-100  mt-3">
                    <i class="bi bi-bar-chart-line service-icon"></i> <!-- Use Bootstrap Icons -->
                    <h5 class="card-title">تقييم المخاطر القانونية</h5>
                    <p class="card-text text-black-50">
                        نساعدك في تحديد وتقييم المخاطر القانونية المحتملة في مستنداتك أو اتفاقياتك باستخدام تقنيات متقدمة.
                    </p>
                </div>
            </div>
        </div>

       
    </div>
</div>
<!-- Detailed Services Section -->



{% endblock %}